body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-items: center;
    background: rgb(88, 88, 88);
}
#footer {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 220px;
    background: white;
    align-items: center;
    background: rgb(36, 35, 35);
    box-shadow: 1px 3px 8px rgb(14, 13, 13);
    border-radius: 5%;
}

#screen {
    border: 1px solid black;
    background: rgb(163, 163, 163);
    height: 30%;
    width: 90%;
    margin-top: 5px;
}

#buttons {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#line1, #line2, #line3, #line4, #line5 {
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    height: 120%;
    margin-top: 5px;
    justify-content: space-between;
}


#clear , #zero {
    width: 90px;
    height: 100%;
}

#modular, #divide, #power, #equal, #minus, #mult, #plus{
    width: 40px;
    height: 100%;
}
button {
    border: none;
    border-radius: 60px;
}

/* Colors for buttons */
#one,#two, #three, #four, #five, #six, #seven, #eight, #nine{
    width: 25%;
    width: 40px;
    height: 100%;
    color: rgb(230, 227, 227);
    background-color: gray;
}
#zero {
    color: rgb(230, 227, 227);
    background-color: gray;
}

#modular, #divide, #power, #equal, #minus, #mult, #plus, #clear{
    color: rgb(12, 0, 0);
    background-color: rgb(147, 250, 29);
}

